.ChannelContainer {
  --columns: 6; /* default columns */
  --rows: 3; /* default rows */

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  align-items:center;
  justify-items:center;
  height: 30vh;
  grid-gap: 12px;
  padding: 12px;
}
.Channel-table {
  width: 100%;
  align-self: stretch;
  grid-area: 1/2/var(--rows)/var(--columns); /* row start/column start/row end/column end */
  background-image: url('../images/woodTable.jpg');
  background-size: 100% auto;
}
.Channel-table-commonArea {
  width: 100%;
  align-self: stretch;
  grid-area: 1/2/var(--rows)/var(--columns); /* row start/column start/row end/column end */
}
.Channel-table--U_DOWN  {
  grid-area: 2/2/calc(var(--rows) + 1)/var(--columns); /* row start/column start/row end/column end */
}
.Channel-table--RECTANGULAR {
  grid-area: 2/1/var(--rows)/calc(var(--columns) + 1);
}
.Channel-seat {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: url('../images/barstool.png') 50% 50% no-repeat;
  background-size: contain;
  border: 0;
}
