.dance-floor {
  background-color: white;
  background-image: url('https://ak0.picdn.net/shutterstock/videos/29367880/thumb/1.jpg');
  background-size: 250px;
  background-position: center center;
  animation: pulse 0.5s infinite alternate;
  min-height: 200px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

@keyframes pulse {
  from {
    box-shadow:0px 0px 10px 3px #ffff00;
    opacity: .5;
  }
  to {
    box-shadow:0px 0px 20px 5px #ffff00;
    opacity: .65;
  }
}
