.Table {
  padding: 25px 10px;
}

.Table .row {
  min-height: 50px;
}

.Table .table-row {
  display: flex;
  background-color: lightslategrey;
  min-height: 150px;
  border-radius: 10px;
}

.Table .col {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
