.SeatPicker {
  padding: 20px 10px;
}

.SeatPicker .row {
  min-height: 50px;
}

.SeatPicker .table-row {
  display: flex;
  background-color: lightslategrey;
  min-height: 150px;
  border-radius: 10px;
}

.SeatPicker .col {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
