/* TODO: remove this when we update .Cafeteria */
.storefront > .row {
  margin: 20px 0;
  min-height: 50px;
}

.StorefrontLayout {
  display: flex;
  flex-wrap: wrap;
}
.StorefrontLayout-table {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
}
.StorefrontLayout-table--danceFloor {
  margin: 0 5%;
}
@media only screen and (min-width: 768px) {
  .StorefrontLayout-table--small {
    width: 25%;
  }
  .StorefrontLayout-table--medium {
    width: 40%;
  }
  .StorefrontLayout-table--large {
    width: 50%;
  }
  .StorefrontLayout-table--danceFloor {
    width: 40%;
  }
}
