body {
  /* background-color: black; */
  background-image: url('./images/woodenfloor.jpg');
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: 300px;
  background-position: center center;
  font-family: 'Source Sans Pro', sans-serif;;
}

.content {
  display: flex;
  align-content: stretch;
  min-height: calc(100vh - 56px);
}

/* GLOBAL */

.club-mode-lighter {
  background-color: rgba(36, 36, 36, .5);
}

.club-mode {
  background-color: rgb(36, 36, 36);
}

.club-mode-darker {
  background-color: rgba(10, 10, 10, .5);
}
